<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="MainDb"
      connectionString="data source=donbot; Initial Catalog=BenefitsAllocationUpload; Integrated Security=true;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="Catbert"
      connectionString="Data Source=donbot;Initial Catalog=CATBERT3;Integrated Security=True"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CATBERT3Entities"
      connectionString="metadata=res://*/Models.Catbert3.csdl|res://*/Models.Catbert3.ssdl|res://*/Models.Catbert3.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=donbot;initial catalog=CATBERT3;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="FISDataMartEntities"
      connectionString="metadata=res://*/Models.FISDataMartEntities.csdl|res://*/Models.FISDataMartEntities.ssdl|res://*/Models.FISDataMartEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=donbot;initial catalog=BenefitsAllocationUpload;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    
  </connectionStrings>

  <appSettings>
    <add key="AdminPageURL" value="https://secure.caes.ucdavis.edu/Catbert4/UserManagement/Manage/BenefitsAllocationUpload"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>