@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1><br/>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Application Administrator:</span>
        <span style="font-weight: bold;">Rob Scharf</span>
        <span>530-754-8315</span>
    </p>
     <p>
        <span class="label">Application Developer:</span>
        <span style="font-weight: bold;">Ken Taylor</span>
        <span>530-752-1288</span>
    </p>
    <p>
        <span class="label">Computing Support:</span>
        <span>530-754-7122</span>
    </p>
    @*<p>
        <span class="label">After Hours:</span>
        <span>425.555.0199</span>
    </p>*@
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Application Administrator:</span>
        <span><a href="mailto:rmscharf@ucdavis.edu">rmscharf@ucdavis.edu</a></span>
    </p>
    <p>
        <span class="label">Application Developer:</span>
        <span><a href="mailto:kentaylor@ucdavis.edu">kentaylor@ucdavis.edu</a></span>
    </p>
    <p>
        <span class="label">Computing Support:</span>
        <span><a href="http://computing.caes.ucdavis.edu/docs/help-desk-ticket">http://computing.caes.ucdavis.edu/docs/help-desk-ticket</a></span>
    </p>
    @*<p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:Marketing@example.com">Marketing@example.com</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:General@example.com">General@example.com</a></span>
    </p>*@
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        <h2>University of California</h2>
        <h4>College of Agricultural & Environmental Sciences<br/>
            Office of the Dean<br/>
            Computing Resources Unit</h4>
        One Shields Avenue<br />
        38 Mrak Hall<br/>
        Davis, CA 95616
    </p>
</section>